#files to ignore

#npm
node_modules/
npm-debug.log

#IDE rubbish
.idea/

#bower
app_client/bower_components

#Mongo data (on Windows)
data/

#ProjektDaten
projectData/
userTemps/

#sciDB data list (csv)
datasets.csv
