<!-- <head>
    <link rel="stylesheet" href="backgroundcurrent.css"/>
</head>
-->

<nav class="navbar navbar-current navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style="color:#2D0264" href="#">GISCoLab</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/projects">Projects</a></li>
                <li><a href="/account">Profile</a></li>
                <li class="active"><a href="/current">Current</a></li>
                <li><a href="/about">About</a> </li>
            </ul>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form id="signin" class="navbar-form navbar-right" role="form">
                    <div class="input-group">
                        <input id="search" type="search" class="form-control" name="search" value="" placeholder="Search">
                    </div>

                    <a id="logout" onclick="logout()" class="btn btn-default" href="/home">Logout</a>
                </form>

            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>



<div class="container-fluid jumbotroncurrent" style="height: 100%">
        <div style="height: 100%" class="row">
            <div id="resize" class="col-md-4" style="height: 100%">
                <nav class="navbar navbar-custom navbar-static-top">
                    <div class="container">
                        <div id="navbarshort1" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <h4>{{vm.project.projectName}}</h4>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <div id="navbarshort" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active" ng-click="codeview = false; treeview = false; txtbox = false; buttonCodeToggle();" id="code"><a href="#">Code</a></li>
                                <li ng-click="treeview = true; codeview = true; txtbox = false; buttonTreeToggle();" id="otherdata"><a href="#">Other data</a></li>
                                <li ng-click="treeview = false; codeview = true; txtbox = true; buttonTxtToggle();" id="txt"><a href="#">Notes</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </nav>
                <div ng-hide="treeview" style="height: 85%; width: 100%; overflow: auto;">
                    <textarea id="fileName" style="height: 7%; width: 100%; resize: none" placeholder="File Name"></textarea>
                    <textarea id="packages" style="height: 10%; width: 100%; resize: none" placeholder="Install packages here"></textarea>
                    <textarea id="codearea" style="height: 68%; width: 100%; resize: none" placeholder="Your R Code here"></textarea>

                    <input type="button" value="Add Row" onclick="addRow('dataTable')" />
                    <p style="font-size: 12px;">Data from this table is only required to RUN code, it will not be saved! <br>
                        Checkbox is only used for row deletion. All rows will be passed to Code Runner. <br>
                        If only one value of a row is missing, the row will be ignored!</p>
                    <table id="dataTable" class="table table-bordered" width="100%" border="1">
                        <thead>
                        <th style="height: 12px; width: 30%">Output of your code</th>
                        <th style="height: 12px; width: 10%">Spectr. Band</th>
                        <th style="height: 12px; width: 30%">New layer name</th>
                        <th style="height: 12px; width: 10%">Min</th>
                        <th style="height: 12px; width: 10%">Max</th>
                        </thead>
                        <tr>
                            <td><input type="text" name="outputName" placeholder="As specified in your code"/></td>
                            <td><input type="text" name="bands"  placeholder="Spectr. band num."></td>
                            <td><input type="text" name="layername" placeholder="Name of your new Layer"></td>
                            <td><input type="text" name="min" placeholder="Min"></td>
                            <td><input type="text" name="max"  placeholder="Max"></td>
                        </tr>
                    </table>

                    <button id="saveCode">Save</button>
                    <button id="runCode">Run R-Code</button>
                    <button id="lameTest">Test</button>
                </div>
                <div ng-show="treeview" id="treebox" style="width: 100%; height:85%;"></div>
                <textarea ng-show="txtbox" id="txtview" style="height: 85%; width: 100%" placeholder="Your notes here"></textarea>
                <textarea id="uniqueKey" ng-hide="true">{{vm.project.uniqueKey}}</textarea>
                <form id="file-upload-form">
                    <p>Eine Datei(.txt oder .r) zum Projekt hinzufügen</p>
                    <input name="textDatei" id="file-input" name="file-upload" type="file">
                    <button id="uploadButton">Upload</button>
                </form>
                <p>Download The Whole Project</p>
                <button ng-click="download(vm.project.uniqueKey)">Download</button>
            </div>
            <div id="mirror" style="height: 100%" class="col-md-8">
                <leaflet lf-draw="vm.drawOptions" lf-center="vm.center" marker="vm.markers" layers="vm.layers" height="100%" width="100%"></leaflet>
            </div>
        </div>
</div>

<script>
    $(function() {
        $( window ).resize(function() {
            $( "#resize" ).resizable({ disabled: false, maxWidth: $('.container-fluid').innerWidth()-200 });
            $('#mirror').css('width', Math.floor($('.container-fluid').innerWidth() -  $( "#resizable" ).innerWidth()));
        });

    }); </script>

<script src="../upload.js"></script>
<script src="../runR.js"></script>
<script src="../saveR.js"></script>



