<body style="background-image:url(../styles/images/nachterde.jpg); background-size: cover"> <!-- Hintergrundbild änderbar, auswahl aus Ordner -->
<div class="container">
  <nav class="navbar navbar-static-top"> <!-- Navbar -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form id="signin" class="navbar-form navbar-right" role="form" ng-submit="vm.onSubmit()">
        <div class="input-group">
          <span class="input-group-addon"></span>
          <input id="email" type="email" class="form-control" name="email" value="" placeholder="Email Address" ng-model="vm.credentials.email">
        </div>

        <div class="input-group">
          <span class="input-group-addon"></span>
          <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password" ng-model="vm.credentials.password">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>

      <a href="/register" class="btn btn-link">Registrieren</a>
      </form>
    </div>
  </nav> <!-- Navbar ende -->
</div>


<div class="row" style="margin-top: 40px">
  <div class="col-xs-2"></div>
  <div class="col-xs-5">      <!-- GISCoLab Schriftzug -->
    <h1 style="margin-top: 100px; font-size: 100px; color: white">GISCoLab</h1>
  </div>
  <div>
    Hier könnten ihre Infos stehen. Infotext
  </div>

  <div class="col-xs-2"></div>
</div>
</body>