<div style="height: 100%; width: 100%;">
<div class="container">
  <nav class="navbar navbar-static-top"> <!-- Navbar -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form id="signin" class="navbar-form navbar-right" role="form" ng-submit="vm.onSubmit()">
        <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-user"></span>
          <input id="email" type="email" class="form-control" name="email" value="" placeholder="Email Address" ng-model="vm.credentials.email">
        </div>

        <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-lock"></span>
          <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password" ng-model="vm.credentials.password">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>

      <a href="/register" class="btn btn-primary">Register</a>
      </form>
    </div>
  </nav> <!-- Navbar ende -->
</div>


<div class="row" style="margin-top: 40px">
  <div class="col-xs-1"></div>
  <div class="col-xs-7">      <!-- GISCoLab Logo -->
    <object>
      <img src="../styles/images/GISCoLab_Logo_black.svg" width="547" height="373" alt="GISCoLab_Logo_black">
    </object>
  </div>
  <div class="col-xs-3">
    <div class="container" style="width: 100%">         <!-- Registrieren -->
      <div class="jumbotron" style="background: rgb(255, 255, 255); background: rgba(255, 255, 255, 0.7); padding: 10px">
        <b>Hier könnten ihre Infos stehen. Infotext</b>
      </div>
    </div>
  </div>
  <div class="col-xs-1"></div>
</div>
</div>
