<nav class="navbar navbar-custom navbar-static-top"> <!-- navbar -->
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">GISCoLab</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/projects">Projects</a></li>
                <li class="active"><a href="/account">Profile</a></li>
                <li><a href="/current">Current</a></li>
                <li><a href="/about">About</a> </li>
            </ul>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form id="signin" class="navbar-form navbar-right" role="form">
                    <div class="input-group">
                        <input id="search" type="search" class="form-control" name="search" value="" placeholder="Search">
                    </div>

                    <button id="logout" class="btn btn-default">Logout</button>
                </form>

            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" style="width: 100%">
    <div class="jumbotron" style="height: 500px">
        <div class="container">
                    <form method="post" ng-submit="vm.onSubmit()">
                        <div class="form-group">
                            <label  for="projectName">Projectname </label>
                            <input type="text" id="projectName" class="form-control" ng-model="vm.project.projectName" required />
                        </div>
                        <div class="form-group">
                            <label for="collaborators">Collaborators</label>
                            <input type="text" id="collaborators" class="form-control" ng-model="vm.project.collaborators"/>
                        </div>
                        <div class="form-group">
                            <label for="info">Info-Text</label>
                            <input type="text" id="info" class="form-control" ng-model="vm.project.info" required/>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" ng-click="vm.saveProject()">Save</button>
                            <button class="btn btn-danger" ng-click="vm.deleteProject()">Delete</button>
                        </div>
                    </form>
                </div>