<nav class="navbar navbar-custom navbar-static-top"> <!-- navbar -->
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style="color:#000000" href="#">GISCoLab</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/projects">Projects</a></li>
                <li><a href="/account">Profile</a></li>
                <li><a href="/current">Current</a></li>
                <li><a href="/about">About</a> </li>
            </ul>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form id="signin" class="navbar-form navbar-right" role="form">
                    <div class="input-group">
                        <input id="search" type="search" class="form-control" name="search" value="" placeholder="Search">
                    </div>

                    <a id="logout" onclick="logout()" class="btn btn-default" href="/home">Logout</a>
                </form>

            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" style="width: 100%">
    <div class="jumbotron" style="height: 500px">
        <div class="container">

            <div class="row">
                <div class="col-xs-3">
                    <h1>Projekt: {{vm.project.projectName}}</h1> <!-- Links zu von der Person/von dir abonnierte/kollaborierende/erstellte Projekte -->
                </div>
                <div class="col-xs-8">
                    <p>Projektname: {{vm.project.projectName}}</p>
                    <p>ID des Besitzers: <a ng-click="anFunction(vm.project.ownerID)">{{vm.project.ownerID}}</a></p>
                    <table style="border: 1px solid black";>
                        <tr style="border: 1px solid black";>
                            <th>Collaborator</th>
                        </tr>
                        <tr style="border: 1px solid black";>
                            <td style="border: 1px solid black";  ng-repeat="collaborator in vm.project.collaborators">{{collaborator}}</td>
                        </tr>
                    </table>
                    <table style="border: 1px solid black";>
                        <tr style="border: 1px solid black";>
                            <td style="border: 1px solid black"; ng-repeat="collaboratorid in vm.project.collaboratorID"><a ng-click="anFunction(collaboratorid)">{{collaboratorid}}</a></td>
                        </tr>
                    </table>
                    <p>Collaborator: <a ng-click="anFunction()">{{collaborator}}</a></p>
                    <p>Erstelldatum: {{vm.project.dateCreated}}</p>
                    <p>Info: {{vm.project.info}}</p>
                    <p>Änderungsdatum: {{vm.project.dateEdited}}</p>
                </div>
                <div class="col-xs-3">
                    <p>Eine Textdatei zum Projekt hinzufügen</p>
                    <input name="textDatei" id="tfile" type="file" accept="text/*">
                    <button ng-click ="uploadTextfile()">Upload</button>
                </div>
                <div class="col-xs-3">
                    <p>Ein R-Script zum Projekt hinzufügen</p>
                    <input name="RScript" type="file">
                    <button ng-click ="uploadRscript()">Upload</button>
                </div>
                <a href="/projectUpdate" class="btn btn-link">Projektinfos bearbeiten</a>
            </div>
        </div>
    </div>
</div>
