<nav class="navbar navbar-custom navbar-static-top"> <!-- navbar -->
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style="color:#2D0264" href="#">GISCoLab</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/projects">Projects</a></li>
                <li><a href="/account">Profile</a></li>
                <li><a href="/current">Current</a></li>
                <li><a href="/about">About</a> </li>
            </ul>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form id="signin" class="navbar-form navbar-right" role="form">
                    <div class="input-group">
                        <input id="search" type="search" class="form-control" name="search" value="" placeholder="Search">
                    </div>

                    <a id="logout" onclick="logout()" class="btn btn-default" href="/home">Logout</a>
                </form>

            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" style="width: 100%">
    <div class="jumbotron" style="height: 100%">
        <div class="container">
            <div class="col-xs-2"> <!-- Dropdown zu deinen Projekten -->
                <div class="btn-group">
                    <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Own projects<span class="caret"></span></button>
                    <ul class="dropdown-costum dropdown-menu">
                        <li><a href="/projectCreate">New project</a></li>
                        <li class="divider"></li>
                        <li><a href="/projectActive">provisorischer Link zum aktuellen Projekt</a></li>
                        <li><a href="#">Another Project</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-2"> <!-- Dropdown zu kollaborierende Projekte -->
                <div class="btn-group">
                    <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">collaborative<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Project</a></li>
                        <li><a href="#">Another Project</a></li>
                        <li><a href="#">Another Project</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-2"> <!-- Dropdown zu von dir abonnierte Projekte -->
                <div class="btn-group">
                    <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">subscribed<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Project</a></li>
                        <li><a href="#">Another Project</a></li>
                        <li><a href="#">Another Project</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 30px">
            <div class="jumbotron" style="background: rgb(255, 255, 255); background: rgba(255, 255, 255, 0.7); padding: 10px"> <!-- News über abonnierte/kollaboriernde Projekte -->
                <h1>No new information about changes of subscibed and collaborated projects...</h1>
            </div>
        </div>
    </div>
</div>
