<nav class="navbar navbar-custom navbar-static-top"> <!-- navbar -->
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style="color:#2D0264" href="#">GISCoLab</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/projects">Projects</a></li>
                <li><a href="/account">Profile</a></li>
                <li><a href="/current">Current</a></li>
                <li><a href="/about">About</a> </li>
            </ul>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form id="signin" class="navbar-form navbar-right" role="form">
                    <div class="input-group">
                        <input id="search" type="search" class="form-control" name="search" value="" placeholder="Search">
                    </div>

                    <a id="logout" onclick="logout()" class="btn btn-default" href="/home">Logout</a>
                </form>

            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" style="width: 100%">
    <div class="jumbotron" style="height: 500px">
        <div class="container">

            <div class="row">
                <div class="col-xs-3">
                    <img src="../styles/images/Download.jpg"> <!-- Profilbild -->
                    <p></p>
                    <p>Projekte:</p> <!-- Links zu von der Person/von dir abonnierte/kollaborierende/erstellte Projekte -->
                    <table style="border: 1px solid black";>
                        <tr style="border: 1px solid black";>
                            <th>eigene Projekte</th>
                            <th>eigene Projekte ID</th>
                        </tr>
                        <tr style="border: 1px solid black"; ng-repeat="ownProject in vm.user.ownProjects">
                            <td style="border: 1px solid black";>{{ownProject.projectName}}</td>
                            <td style="border: 1px solid black";><a ng-click="myFunction(ownProject.projectID)">{{ownProject.projectID}}</a></td>
                        </tr>
                    </table>
                    <br>
                    <table style="border: 1px solid black";>
                        <tr style="border: 1px solid black";>
                            <th>kollaborierende Projekte</th>
                            <th>kollaborierende Projekte ID</th>
                        </tr>
                        <tr style="border: 1px solid black"; ng-repeat="coopProject in vm.user.coopProjects">
                            <td style="border: 1px solid black";>{{coopProject.projectName}}</td>
                            <td style="border: 1px solid black";><a ng-click="myFunction(coopProject.projectID)">{{coopProject.projectID}}</a></td>
                        </tr>
                    </table>
                    <p></p>
                    <p>Kollegen</p> <!-- Links zu deinen "Kollegen"/Freunden -->
                    <p>abonnierte Personen</p> <!-- Von dir abonnierte Personen -->
                </div>
                <div class="col-xs-8"> <!-- Persönliche Daten  -->
                    <p>Vorname: {{vm.user.firstName}}</p>
                    <p>Nachname: {{vm.user.lastName}}</p>
                    <p>E-mail: {{vm.user.email}}</p>
                    <p>Username: {{vm.user.userName}}</p>
                    <p>Geburtstag: {{vm.user.birthday}}</p>
                    <p>Info: {{vm.user.info}}</p>
                    <p>Registrierungsdatum: {{vm.user.registrDate}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
